h1{
    background-color:rgb(255,99,75);
    border: 2px solid dodgerblue;
    font-family: fantasy;
    word-spacing: 34px;
    letter-spacing: 40px;
    text-align: center;
    font-family: 'Tilt Prism', cursive;
}
p{

    border: solid black;
    background-color: #ff6347;
    background-color: hsla(282, 84%, 48%, 0.5);
    font-weight: bold;
}
#para2{
    font-style: italic;
    font-size: 4vb;
}